AddKeysToAgent yes

Host *+*
  ProxyCommand ssh $(echo %h | sed 's/+[^+]*$//;s/\([^+%%]*\)%%\([^+]*\)$/\2 -l \1/;s/:/ -p /') exec nc -w1 $(echo %h | sed 's/^.*+//;/:/!s/$/ %p/;s/:/ /')

Host sayaka
     HostName 192.168.0.190
     User pi
     	
Host ichigo
     HostName ichigo.cactis.eu
     Port 6
     User mkr

Host ultraserver
     HostName 46.4.38.73
     Port     6
     User     mkr

Host tessa
     Hostname 192.168.0.2
     ProxyJump ichigo
     User      mkr

Host victorica
     HostName	192.168.100.185
     ProxyJump 	ultraserver
     User      	mkr

Host cc
     HostName	192.168.100.212
     ProxyJump	ultraserver
     User      	mkr


Host sengoku
     HostName	192.168.100.169
     ProxyJump 	ultraserver
     User      	mkr

Host horo
     HostName	192.168.100.130
     ProxyJump 	ultraserver
     User      	mkr

Host openhab
     HostName	openhab.lan.kroboth-home.at
     User	openhabian

Host raine
     HostName   raine.lan.kroboth-home.at
     User	root

Host newhoro
     HostName 10.0.0.2
     Port 6
     ProxyJump ichigo
     User mkr

