[Unit]
Description=Telegram Chat Client

[Service]
Type=exec
ExecStart=/usr/bin/telegram-desktop -startintray

[Install]
WantedBy=window-manager.target

